html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#div1 { background: #DDD; }
#div2 { background: #AAA; }
#div3 { background: #777; }
#div4 { background: #444; }

#inverted_div1 { background: #FFFC19  ; }
#inverted_div2 { background: #FF0000; }
#inverted_div3 { background: #1485CC; }
#inverted_div4 { background: #0971B2; }



.videoContainer
{   
	width: 100%;
	height: 100%;
	float: none;
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
}

.videoContainer video
{
    min-width: 100%;
    min-height: 100%;
}
